@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
	font-family: "Poppins";
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color: #007ac9;
	color: #fff;
	padding: 10px 20px;
	font-weight: 600;
}

td {
	padding: 10px 20px;
}

.realtimeCell {
	text-align: center;
}
